body{
    background-color: #BDCDD6;
    
}

.grid{
    display:grid; 
    grid-template-columns: 35% 65%;
    border: 2px solid #6096B4;
    margin:2px;
    
    
}
.grid2{
    display: grid;
    grid-template-columns:25% auto;
    text-align: left;
    
    
}

.grid3{
    display: grid;
    grid-template-columns:auto auto;
    text-align: left;
    
    
}

.grid_footer{
    display: grid;
    grid-template-columns:10% auto;
    text-align: left;
    background-color: #EEE9DA;
    border: 2px solid #6096B4;
    margin:2px;

}
section{
    
    background-color: #EEE9DA;
    border: 2px solid #6096B4;
    margin:2px;
}

h2{
    background-color: #93BFCF;
    border: 2px solid #6096B4;
}

